/* استایل برای صفحه کل */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* استایل برای container اصلی */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* باعث می‌شود که ارتفاع کل صفحه 100% باشد */
}

/* استایل برای محتوا */
main {
  flex-grow: 1; /* این خط باعث می‌شود که محتوا فضای باقی‌مانده را پر کند */
}

/* استایل فوتر */
footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
